{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <h1 class="mb-3">{{ product.name }}</h1>

    {% if product.mainimage %}
        <img src="{{ product.mainimage.url }}" alt="{{ product.name }}" class="img-fluid mb-3" style="max-width: 500px;">
    {% endif %}

    <p>{{ product.preview_text }}</p>
    <p class="h4 text-success">Price: ${{ product.price }}</p>

    {% if product.slug %}
        <a href="{% url 'cart:add-to-cart' product.slug %}" class="btn btn-success mb-2">Add to Cart</a>
    {% endif %}
    <br>
    <a href="{% url 'store_products:home' %}" class="btn btn-secondary">Back to Products</a>
</div>
{% endblock %}