body {
    font-family: sans-serif;
    margin: 2rem;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 1rem;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0066cc;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: rgb(255, 187, 0);
}

.bg-blue {
    background-color: #001f4d; /* dark blue */
}